/* for mobile phones */
.App {
  max-width: 100vw;
  max-height: 100vh;
}

/* navbar styling */
nav {
  display: flex;
  background-color: #f5e0e0;
  height: 10%;
  max-width: 100vw;
}

.links {
  visibility: hidden;
  justify-content: space-around;
  width: 80vw;
  padding: 5%;
}

.link, .menulinks {
  text-decoration: none;
  color: #999292;
}

/* for tablets  */
@media only screen and (min-width: 900px) {
  nav {
    height: 5%;
  }
}

/* for desktop */
