/* for mobile phones */
.App {
  max-width: 100vw;
}

/* navbar styling */
nav {
  display: flex;
  background-color: #F5E0E0;
  height: 10%;
  max-width: 100vw;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  padding: 5%;
}

.link {
  text-decoration: none;
  color: #999292;
}

/* camera styling */
.camera {
  /* border: solid red; */
}

.button {
  width: 100vw;
}

/* for tablets  */
@media only screen and (min-width: 900px) {
  nav {
    height: 5%;
  }
}

/* for desktop */



